/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8; 
  }
  
  /* Header */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  header h1 {
    margin-bottom: 0.5rem;
  }
  
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 1rem;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  /* Main Content */
  main {
    padding: 1rem;
  }
  
  main h2 {
    margin-bottom: 1rem;
  }
  
  /* Form */
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  form label {
    margin-bottom: 0.5rem;
  }
  
  form input,
  form select {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Orders List */
  #orders {
    margin-top: 1rem;
  }
  
  #orders ul {
    list-style: none;
  }
  
  #orders li {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
  }
  
  #orders li a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
  }
  
  #orders li a:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Footer */
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  /* Success and Error Messages */
  .success {
    background-color: #7dc48e;
    color: #276828;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
  }
  
  .error {
    background-color: #f4a4a4;
    color: #721c24;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
  }
  
  /* Gaya untuk gambar berjajar ke samping */
.image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .home-image {
    max-width: 30%; /* Atur lebar gambar sesuai preferensi */
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .services-image {
    max-width: 30%; /* Atur lebar gambar sesuai preferensi */
    border: 1px solid #ccc;
    border-radius: 4px;
  }